<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="PATTERN">%d{HH:mm:ss.SSS} %-5level [%t] %c{0}.%M: %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info" additivity="true">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>